.content {
    position: absolute;
    top: 23rem;
    /* left: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 25px;
    padding: 2rem;
    background: rgba(238, 229, 233, 0.7);
    border-radius: 5px;
    border-style: solid;
    border-color: #C1C1C1;
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 23rem;
    }
    100% {
        visibility: visible;
        top: 17rem;
    }
    
}

.content > * {
    color: #486290;
    font-family: Metropolis;
    font-weight: bold;
}

.current {
    opacity: 1;
}

.current .content {
    opacity: 1;
}

hr {
    height: 4px;
    color: #CDC6AE;
    width: 50%;
}

/** top text edit**/

.top-content {
    font-weight: bolder;
    color: #27AAE1;
    font-size: 16;
    margin: 1rem;
    animation: slide-top 1s ease-in 0.5s;
    animation-fill-mode: forwards;
}

.hero-icons {
    /* background: linear-gradient(
      90deg,
      rgb(39, 170, 225) 0%,
      rgb(72, 98, 144) 100%
    ); */
    /* background: rgba(39, 170, 225, 0.4); */
    border-radius: 5px;
    top: -150px;
    margin-left: 80px;
    margin-right: 145px;
    color: #81cfee;
    padding-top: 50px;
    
}

.text-hero {
    text-align: center;
    font-family: Expletus Sans;
    font-weight:bolder;
    font-size: 16;
    padding-top: 3rem;
  }

  .hero-image {
    width: 1400px;
    height: 650px;
    border-radius: 10px;
    transition: all 0.5s ease;
   justify-content: center;
  
  }

  .left-button {
    position: relative;
    top: 40%;
    left: 700px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 60px;
  }
  
  .right-button {
    position: relative;
    top: 40%;
    left: 720px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 60px; 
  }

  .center-arrow {
    position: relative;
    top: 40%;
    left: 740px;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    width: 60px; 
  }
