.content {
    position: absolute;
    top: 23rem;
    /* left: 5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin-left: 20px;
    padding: 3rem;
    background: rgba(39, 170, 225, 0.4);
    border-radius: 5px;
    border-style: solid;
    border-color: #C1C1C1;
    animation: slide-up 1s ease 0.5s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    0% {
        visibility: visible;
        top: 23rem;
    }
    100% {
        visibility: visible;
        top: 17rem;
    }
    
}

.content > * {
    color: #486290;
    font-family: Metropolis;
    font-weight: bold;
}

.current {
    opacity: 1;
}

.current .content {
    opacity: 1;
}

hr {
    height: 4px;
    color: #CDC6AE;
    width: 50%;
}

/** top text edit**/

.top-content {
    font-weight: bold;
    color: #27AAE1;
    font-size: 16;
    margin: 5px;
    animation: slide-top 1s ease-in 0.5s;
    animation-fill-mode: forwards;
}