/*start features styling */

.feature-body{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin: 0px 50px 0px 50px;
  }
  
  .feature-body h2 {
    text-decoration:underline #486290;
    text-underline-position: from-font;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif; 
    text-align: center;
  }

  
  .media {
    display: flex;
    flex-direction: row;
    position: relative;
    float: left;
    height: 1000px;
    padding:7rem;
    margin: 4rem;
    
  }
  
  /* .media2 {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
  
    /* float:right;
  } */ 

  .media3 {
    display: flex;
    float: right;
    height: 1000px;
    padding:7rem;
    
    

  }



  .mainContainer {
    margin: 50px;
  }
  



